{% extends 'base/mainBase.html.twig' %}

{% block title %} Livraison {% endblock %}


{% block body %}
<div class="container">

	<div  class = " conteneur " >
		<div  class = " row " >
               
				<div  class = " span9 " >
                    <h2 > Valider mon parnier </h2 >
                    <formulaire >
                    <table  class = "table-rayée table-survol " >
                        <thead >
                            <tr >
                                <th > Références </th >
                                <th > Quantité </th >
                                <th > Prix unitaire </th >
                                <th > Total HT </th >
                            </tr >
                        </thead >
                        <tbody >
                            <tr >
                                <td > AB29837 </td >
                                <td >
                                    2
                                </td >
                                <td > 333,33 € </td >
                                <td > 333,33 € </td >
                            </tr >
                            <tr >
                                <td > AC34423 </td >
                                <td >
                                    1
                                </td >                                
                                <td > 333,33 € </td >
                                <td > 666,66 € </td >
                            </tr >
                        </tbody >
                    </table >
                </form >
    
                <dl  class = " dl-horizontal pull-right " >
                    <dt > Total HT: </dt >
                    <dd > 799,99 € </dd >
                    
                    <dt > TVA: </dt >
                    <dd > 200 € </dd >
    
                    <dt > Total: </dt >
                    <dd > 999,99 € TTC </dd >
                </dl >
                <div  class = " clearfix " > </div >
                <a  href = " # "  class = " btn pull-droite BTN-succès " > Payeur </a >
            </div >
		
		</div >
	</div >

</div>

{% endblock %}