{% extends 'base.html.twig' %}

{% block title %} Edition {% endblock %}

{% block body %}
<div class="container">
    <h1 class="center-align"> Edition du profil </h1>

    <div class="row">
        {{ form_start(form) }}
        <div class="row">
           
                {{ form_widget(form) }}
           
            <button type="submit" class="btn waves-effect waves-light"> Modifier </button>
        
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}