{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block title %} Article {% endblock %}

{% block body %}

<div class="row">
    <div class="row">
        <p class="comeBack right-align"> Revenir à la boutique <a href="/shop"><i class="far fa-times-circle fa-lg"></i> </a>
        </p>
    </div>
    {% include "includes/sidenav.html.twig" %}

    <div class="col s6">
        <img src="{{ asset('/images/logo.png') }}">
        rajout pagination d'une photo 1 grosse 2 petites
    </div>

    <div class="col s3">
        <h1> Titre de l'article</h1>
        <p> Prix </p>
        <hr>
        <button> Ajouter au panier </button>
        <hr>
        <p> Description complète d'un article </p>
    </div>

    {% endblock %}