{% extends 'base.html.twig' %}

{% block title %} Page non trouvée  {% endblock %}

{% block body %}
<div class="container">
    <h1> Page demandée n'existe pas </h1>
    <p> On a du mal vous renseigner </p>
    <p>Revenir à l'accueil  </p>
    <a href="{{ path('home') }}" class="btn"> Accueil </a>
</div>
{% endblock %}