/***** LIVRAISON *****/
#adress h4 {
    font-size: 18px;
}

.renseignement,
.fAdress {
    display: none;
}

#adress label,
#adress h4 {
    padding-left: 20px;
}

#adress form,
#recap form {
    padding : 20px 40px;
}

/***** RECAP *****/
#recap h4 {
    text-align: center;
    font-size: 16px;
    padding-top : 20px;
}

#recap .recapAdresse {
    padding: 0px 20px 20px 40px;
}

#recap img {
    max-width: 100px;
    max-height: 100px;
}
#recap  .total {
    margin-top: 40px;
}
#recap .accept {
    display : inline-flex;
}
#recap .accept a {
   color: black;
   font-style: italic;
}

#recap .accept a:hover {
    border-bottom : 1px solid #4db6ac;
}

#recap label {
    padding: 10px;
}