/***** HOME *****/
#home .homeAdmin {
    margin: 20px 20px;
}

#home .card-content {
    background-color: #4527a0;
}

#home .action {
    height: 200px;
}

#home i {
    font-size: 60px;
}

#home .title {
    padding: 15px;
}

#home a {
    color: white;
}