.test {
    height: 100px;
    border: 2px solid black;
}

/***** GENERAL *****/

h1 {
    margin: 10px 0px;
    font-size: 40px;
}

/* Pour la sidenav fixe évite de cacher derrière la sidenav. ATTENTION TOUT METTRE DANS LE MAIN */
header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

/* Message de validation après un succés flash */
.success,
.success .alert {
    background-color: #b2dfdb !important;
    height: 75px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success p {
    padding: 15px;
    margin-left: 20px;
    font-size: 26px;
}

.imgTable {
    max-width: 50px;
    max-height: 50px;
}

/***** HOME *****/
#nav_dashboard h1 {
    margin-bottom: 20px;
}

#nav_dashboard .card-content {
    background-color: #4527a0;
    border-radius: 5px;
    height: 100px;
}

#nav_dashboard i {
    color: white;
}

#nav_dashboard span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#productDash h2,
#userDash h2,
#blogDash h2 {
    font-size: 36px;
    margin-left: 40px;
}


/***** TABLEAUX GESTION DES PRODUITS *****/
#productIndex .btnNew {
    border-radius: 5px;
    margin-left: 20px;
}

#productIndex .actions {
    display: inline-flex;
    border-radius: 10px;
}

#productIndex .card {
    margin: 0px 40px;
}

#productIndex .tableau {
    padding: 0px 20px;
}

#productIndex .btnActions {
    margin: 15px 5px 0px 5px;
}

#productIndex th {
    text-align: center;
}

#productIndex td {
    font-size: 12px;
}

#productIndex img {
    max-width: 100px;
    max-height: 100px;
}

#productIndex .pagination {
    padding-bottom: 10px;
}

/***** FORMULAIRE D'EDITION *****/
#editProduct h1 {
    margin-bottom: 40px;
}

#editProduct .card {
    padding: 50px;
}

#editProduct .card-title {
    margin-left: 40px;
}

#editProduct .btnSave {
    margin-bottom: 20px;
}