body {
    overflow-x: hidden;
    font-family: 'Special Elite',
    cursive;
}

h1 {
    font-family: 'Poiret One',
        cursive;
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
    font-size: 18px;
}

h6 {
    font-family: 'Poiret One',
        cursive;
    font-size: 18px;
}
.navigation {
    box-shadow: none;
    background-color: white;
}

.navigation li a {
    color: black;
}

.navigation li a .fab,
.navigation li a .fas,
.navigation strong {
    color: gray;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

.test {
    border: 1px solid black;
}

.comeBack a {
    font-family: 'Poiret One', cursive;
}
.comeBack .fa-times-circle {
    color: #18202d;
}
.btn-floating {
    box-shadow: none;
}
#dropdown1 {
    top: -60px;
}

/* Message de validation après un succés flash */
.success,
.alert {
    background-color: #66bb6a;
    height: 75px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
}

.success p,
.alert p {
    margin: auto;
    font-size: 18px;
}

.avatarNav {
    max-width: 40px;
    max-height: 40px;
    margin: auto;
    margin-right: 10px;
}
.dropdown-trigger{
    display: inline-flex;
}