body {
    overflow-x: hidden;
}

.navigation {
    box-shadow: none;
    background-color: white;
}

.navigation li a {
    font-family: 'Special Elite',
        cursive;
    color: black;
}

.navigation li a .fab,
.navigation li a .fas {
    color: gray;
}

.test {
    border: 1px solid black;
}