body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Poiret One',
        cursive;
    margin-top: 0px;
}

h2 {
    font-family: 'Special Elite',
        cursive;
    margin-top: 0px;
    font-size: 18px;
}



h6 {
    font-family: 'Poiret One',
        cursive;
    font-size: 18px;
}
.navigation {
    box-shadow: none;
    background-color: white;
}

.navigation li a {
    font-family: 'Special Elite',
        cursive;
    color: black;
}

.navigation li a .fab,
.navigation li a .fas {
    color: gray;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

.test {
    border: 1px solid black;
}

.comeBack a {
    font-family: 'Poiret One', cursive;
}
.comeBack .fa-times-circle {
    color: #18202d;
}
.btn-floating {
    box-shadow: none;
}