{% extends 'base/mainBase.html.twig' %}

{% block title %} Livraison {% endblock %}
{% form_theme formAdress 'includes/formTheme.html.twig' %}

{% block body %}
<div class="container">
    <section class="adress">
        <h2> Renseignez votre adresse de livraison </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="card hoverable">
                    {{ form_start(formAdress) }}
                    {{form_row(formAdress)}}
                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect waves-light"> Valider l'adresse de livraison
                        </button>
                    </div>
                </div>
                {{ form_end(formAdress) }}
            </div>
        </div>
    </section>
</div>

{% endblock %}