{% extends 'base/mainBase.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/home.css') }}" type="text/css">
{% endblock %}

{% block title %} CGV {% endblock %}

{% block body %}
<div class="container">
    <h1> Conditions générales de vente </h1>
    <p>

       Entre la Société Esperluette/ Ess’ain via Elan creation (171 avenue san severo 01000 BOURG EN BRESSE,
       immatriculée au Registre du Commerce et des Sociétés de Bourg en Bresse, sous le numéro SIRla ET 830718714,
       représentée par M. Benjamin RAQUIN en qualité de gérant), dûment habilité aux fins des présentes. La société peut
       être jointe par email en cliquant sur le formulaire de contact accessible via la page d’accueil du site
       http://www.esperluette-deco.fr.Ci-après le « Vendeur » ou la « Société ». D’une part, 
       Et la personne physique ou morale procédant à l’achat de produits ou services de la société, Ci-après, «
       l’Acheteur », ou « le Client » D’autre part, Il a été exposé et convenu ce qui suit :
       PREAMBULE
       Esperluette est éditeur de Produits et Services e valorisation d’objets & de meubles anciens, animation d’atelier
       et conseils personnalisés à destination de consommateurs, commercialisés par l’intermédiaire de son site Internet
       http://www.esperluette-deco.fr. La liste et le descriptif des biens et services proposés par Esperluette peuvent
       être consultés sur le site susmentionné.
       Article 1 : Objet
       Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la
       vente en ligne de Produits et Services proposés par Esperluette.
       Article 2 : Dispositions générales
       Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits et de Services, effectuées au
       travers du site http://www.esperluette-deco.fr, et sont partie intégrante du Contrat entre l’Acheteur et
       Esperluette. Elles sont pleinement opposables à l'Acheteur qui les a acceptées avant de passer commande.
       Esperluette se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle
       version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou
       du premier paiement en cas de paiements multiples) de la commande. Ces CGV sont consultables sur
       http://www.esperluette-deco.fr.
       Esperluette s’assure également que leur acceptation soit claire et sans réserve en mettant en place une case à
       cocher et un clic de validation. Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions
       Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service,
       et les accepter sans restriction ni réserve.
       Le Client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de s’assurer de l’adéquation
       de l’offre à ses besoins.
       Le Client déclare être en mesure de contracter légalement en vertu des lois françaises ou valablement représenter
       la personne physique ou morale pour laquelle il s’engage.
       Sauf preuve contraire les informations enregistrées par Esperluette constituent la preuve de l’ensemble des
       transactions.
       Article 3 : Prix
       Les prix des produits vendus au travers du site http://www.esperluette-deco.fr sont indiqués en Euros hors taxes
       et précisément déterminés sur les pages de descriptifs des Produits. Ils sont également indiqués en euros toutes
       taxes comprises (TVA + autres taxes éventuelles) sur la page de commande des produits, et hors frais spécifiques
       d'expédition. Pour tous les produits expédiés hors Union européenne et/ou DOM-TOM, le prix est calculé hors taxes
       automatiquement sur la facture. Des droits de douane ou autres taxes locales ou droits d'importation ou taxes
       d'état sont susceptibles d'être exigibles dans certains cas. Ces droits et sommes ne relèvent pas du ressort de
       Esperluette. Ils seront à la charge de l'acheteur et relèvent de sa responsabilité (déclarations, paiement aux
       autorités compétentes, etc.). Le Vendeur invite à ce titre l'acheteur à se renseigner sur ces aspects auprès des
       autorités locales correspondantes. Esperluette se réserve la possibilité de modifier ses prix à tout moment pour
       l’avenir. Les frais de télécommunication nécessaires à l’accès au site http://www.esperluette-deco.fr sont à la
       charge du Client. Le cas échéant également, les frais de livraison.
       Article 4 : Conclusion du contrat en ligne
       Conformément aux dispositions de l'article 1127-1 du Code civil, le Client doit suivre une série d’étapes pour
       conclure le contrat par voie électronique pour pouvoir réaliser sa commande :; Information sur les
       caractéristiques essentielles du Produit ; &#8211; Choix du Produit, le cas échéant, de ses options - Indication
       des coordonnées essentielles du Client (identification, email, adresse...) ; &#8211; Acceptation des présentes
       Conditions Générales de Vente &#8211; Vérification des éléments de la commande (formalité du double clic) et, le
       cas échéant, correction des erreurs. Avant de procéder à sa confirmation, l'Acheteur a la possibilité de vérifier
       le détail de sa commande, son prix, et de corriger ses éventuelles erreur, ou annuler sa commande. La
       confirmation de la commande emportera formation du présent contrat. &#8211; Ensuite, suivi des instructions pour
       le paiement, paiement des produits, puis livraison de la commande. Le Client recevra confirmation par courrier
       électronique du paiement de la commande, ainsi qu’un accusé de réception de la commande la confirmant. Il recevra
       un exemplaire .pdf des présentes conditions générales de vente.
       Le client disposera pendant son processus de commande de la possibilité d'identifier d'éventuelles erreurs
       commises dans la saisie des données et de les corriger. La langue proposée pour la conclusion du contrat est la
       langue française.
       Les modalités de l'offre et des conditions générales de vente sont renvoyées par email à l'acheteur lors de la
       commande et archivées sur le site web du Vendeur. Le cas échéant, les règles professionnelles et commerciales
       auxquelles l'auteur de l'offre entend se soumettre sont consultables dans la rubrique "règles annexes" des
       présentes CGV, consultables sur le site du Vendeur à l'adresse suivante : http://www.esperluette-deco.fr
       L'archivage des communications, de la commande, des détails de la commande, ainsi que des factures est effectué
       sur un support fiable et durable de manière constituer une copie fidèle et durable conformément aux dispositions
       de l'article 1360 du code civil. Ces informations peuvent être produits à titre de preuve du contrat.
       Pour les produits livrés, la livraison se fera à l’adresse indiquée par le Client. Aux fins de bonne réalisation
       de la commande, le Client s’engage à fournir ses éléments d’identification véridiques. Esperluette se réserve la
       possibilité de refuser la commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou pour
       tout motif légitime.
       Article 5 : Produits et services
       Les caractéristiques essentielles des biens, des services et leurs prix respectifs sont mis à disposition de
       l’acheteur sur le site http://www.esperluette-deco.fr, de même, le cas échéant, que le mode d'utilisation du
       produit. Conformément à l'article L112-1 du Code la consommation, le consommateur est informé, par voie de
       marquage, d'étiquetage, d'affichage ou par tout autre procédé approprié, des prix et des conditions particulières
       de la vente et de l'exécution des services avant toute conclusion du contrat de vente. Dans tous les cas, le
       montant total dû par l'Acheteur est indiqué sur la page de confirmation de la commande. Le prix de vente du
       produit est celui en vigueur indiqué au jour de la commande, celui-ci ne comportant pas les frais de ports
       facturés en supplément. Ces éventuels frais sont indiqués à l'Acheteur lors du process de vente, et en tout état
       de cause au moment de la confirmation de la commande. Esperluette se réserve la possibilité de modifier ses prix
       à tout moment, tout en garantissant l'application du prix indiqué au moment de la commande.
       Lorsque les produits ou services ne sont pas exécutés immédiatement, une information claire est donnée sur la
       page de présentation du produit quant aux dates de livraison des produits ou services. Le client atteste avoir
       reçu un détail des frais de livraison ainsi que les modalités de paiement, de livraison et d’exécution du
       contrat, ainsi qu'une information détaillée relative à l'identité du vendeur, ses coordonnées postales,
       téléphoniques et électroniques, et à ses activités dans le contexte de la présente vente. Esperluette s’engage à
       honorer la commande du Client dans la limite des stocks de Produits disponibles uniquement. A défaut, le Vendeur
       en informe le Client ; si la commande a été passée, et à défaut d'accord avec le Client sur une nouvelle date de
       livraison, Esperluette rembourse le client.
       Les informations contractuelles sont présentées en détail et en langue française. Les parties conviennent que les
       illustrations ou photos des produits offerts à la vente n’ont pas de valeur contractuelle. La durée de validité
       de l’offre des Produits ainsi que leurs prix est précisée sur le site http://www.esperluette-deco.fr ainsi que la
       durée minimale des contrats proposés lorsque ceux-ci portent sur une fourniture continue ou périodique de
       produits ou services. Sauf conditions particulières, les droits concédés au titre des présentes le sont
       uniquement à la personne physique signataire de la commande (ou la personne titulaire de l’adresse email
       communiqué).
       Article 6 : Conformité
       Conformément à l'article L.411-1 du Code de la consommation, les produits et les services offert à la vente au
       travers des présentes CGV répondent aux prescriptions en vigueur relatives à la sécurité et à la santé des
       personnes, à la loyauté des transactions commerciales et à la protection des consommateurs. Indépendamment de
       toute garantie commerciale Esperluette reste tenu des défauts de conformité et des vices cachés du produit.
       Conformément à l'article L.217-4, Esperluette livre un bien conforme au contrat et répond des défauts de
       conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de
       l'emballage, des instructions de montage ou de l'installation lorsque celle- ci a été mise à sa charge par le
       contrat ou a été réalisée sous sa responsabilité.
       Conformément aux dispositions légales en matière de conformité et de vices cachés (art. 1641 c. civ Esperluette
       rembourse ou échange les produits défectueux ou ne correspondant pas à la commande. Le remboursement peut être
       demandé de la manière suivante : le Client envoie un mail via formulaire de contact sur
       http://www.esperluette-deco.fr, décrivant les non conformités ou vices cachés et le moyen d’être joint le plus
       facilement possible par le service client, le retour des produits est à effectuer par le Client dans leur état
       d'origine et complets (emballage, accessoires, notice…) le client renvoie l’article en s’assurant de son
       intégrité et accepte que les frais de renvois soient à sa charge. A réception de l’article par Esperluette le
       Client sera remboursé de son achat hors frais de réexpédition.
       Article 7 : Clause de réserve de propriété
       Les produits demeurent la propriété de Esperluette jusqu’au complet paiement du prix.
       Article 8 : Modalités de livraison
       Les produits sont livrés à l'adresse de livraison qui a été indiquée lors de la commande et dans les délais
       indiqués. Ces délais ne prennent pas en compte le délai de préparation de la commande. Lorsque la livraison
       nécessite une prise de rendez-vous avec le Client il sera contacté avec les coordonnées qu’il aura indiquées
       directement par le transporteur. Lorsque le Client commande plusieurs produits en même temps ceux-ci peuvent
       avoir des délais de livraison différents acheminés selon les modalités suivantes : l’envoi groupé sera privilégié
       afin de limiter l’impact carbone de la livraison. En cas de retard d’expédition le Client en sera informé par
       mail. En cas de retard de livraison, le Client dispose de la possibilité de résoudre le contrat dans les
       conditions et modalités définies à l’Article L 138-2 du Code de la consommation. Esperluette procède alors au
       remboursement du produit et aux frais « aller » dans les conditions de l’Article L 138-3 du Code de la
       consommation. Esperluette met à disposition un point de contact téléphonique (coût d’une communication locale à
       partir d’un poste fixe) indiqué dans l’email de confirmation de commande afin d'assurer le suivi de la commande.
       Esperluette rappelle qu’au moment où le Client pend possession physiquement des produits, les risques de perte ou
       d’endommagement des produits lui sont transférés. Il appartient au Client de notifier au transporteur toute
       réserve sur le produit livré.
       Article 9 : Disponibilité et présentation
       En cas d’indisponibilité d’un article pour une période supérieure à 10 jours ouvrables, le Client sera
       immédiatement prévenu des délais prévisibles de livraison et la commande de cet article pourra être annulée sur
       simple demande. Le Client pourra alors demander un avoir pour le montant de l’article ou son remboursement
       intégral et l'annulation de la commande.
       Article 10 : Paiement
       Le paiement est exigible immédiatement à la commande, y compris pour les produits en précommande. Le Client peut
       effectuer le règlement par carte de paiement ou chèque bancaire. Les cartes émises par des banques domiciliées
       hors de France doivent obligatoirement être des cartes bancaires internationales (Mastercard ou Visa). Le
       paiement sécurisé en ligne par carte bancaire est réalisé par notre prestataire de paiement. Les informations
       transmises sont chiffrées dans les règles de l’art et ne peuvent être lues au cours du transport sur le réseau.
       Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des
       informations. Conformément aux dispositions du Code monétaire et financier, l’engagement de payer donner par
       carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise
       Esperluette à débiter sa carte du montant relatif au prix indiqué. Le Client confirme qu’il est bien le titulaire
       légal de la carte à débiter et qu’il est légalement en droit d’en faire usage. En cas d’erreur, ou
       d’impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit et la commande annulée.
       Article 11 : Délai de rétractation
       Conformément aux dispositions de l'article L 221-5 du Code de la consommation, l'Acheteur dispose du droit de se
       rétracter sans donner de motif, dans un délai de quatorze (14) jours à la date de réception de sa commande. Le
       droit de rétractation peut être exercé en contactant la Société de la manière suivante : mail via formulaire de
       contact sur http://www.esperluette-deco.fr Nous informons les Clients que conformément aux dispositions des
       articles L. 221-18 à L. 221-28 du Code de la consommation, ce droit de rétractation ne peut être exercé pour tout
       article personnalisé. En cas d’exercice du droit de rétractation dans le délai susmentionné, le prix du ou des
       produits achetés et les frais d’envoi seront remboursés, les frais de retour restant à la charge du Client. Les
       retours des produits sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice…) ;
       ils doivent si possible être accompagnés d’une copie du justificatif d'achat. Conformément aux dispositions
       légales, vous trouverez ci-après le formulaire-type de rétractation à nous adresser à l’adresse suivante :
       Pascale NALLET 784 rue notre dame des champs 01480 JASSANS RIOTTIER. Procédure de remboursement : le Client
       envoie un mail via formulaire de contact sur http://www.esperluette-deco.fr, décrivant les non conformités ou
       vices cachés et le moyen d’être joint le plus facilement possible par le service client, le retour des produits
       est à effectuer par le Client dans leur état d'origine et complets (emballage, accessoires, notice…) le client
       renvoie l’article en s’assurant de son intégrité et accepte que les frais de renvois soient à sa charge. A
       réception de l’article par Esperluette le Client sera remboursé de son achat hors frais de réexpédition.
       Article 12 : Garanties
       Préalablement, Esperluette rappelle au Client que ses produits sont tous issus du recyclage et donc peuvent
       comporter des défauts provenant de leur utilisation précédente. Conformément à la loi, Esperluette assume les
       garanties suivantes : de conformité et relative aux vices cachés des produits. Esperluette rembourse l'acheteur
       ou échange les produits apparemment défectueux ou ne correspondant pas à la commande effectuée. La demande de
       remboursement doit s'effectuer de la manière suivante : le Client envoie un mail via formulaire de contact sur
       http://www.esperluette-deco.fr, décrivant les non conformités ou vices cachés et le moyen d’être joint le plus
       facilement possible par le service client, le retour des produits est à effectuer par le Client dans leur état
       d'origine et complets (emballage, accessoires, notice…) le client renvoie l’article en s’assurant de son
       intégrité et accepte que les frais de renvois soient à sa charge. A réception de l’article par Esperluette le
       Client sera remboursé de son achat hors frais de réexpédition..) Esperluette rappelle que le consommateur dispose
       d'un délai de 2 ans à compter de la délivrance du bien pour agir auprès de lui; qu'il peut choisir entre le
       remplacement et la réparation du bien sous réserve des conditions prévues par les dispositions susmentionnées
       (apparemment défectueux ou ne correspondant pas); qu'il est dispensé d'apporter la preuve l’existence du défaut
       de conformité du bien durant les six mois suivant la délivrance du bien; que ce sont des biens d’occasion; que le
       consommateur peut également faire valoir la garantie contre les vices cachés de la chose vendue au sens de
       l’article 1641 du code civil et, dans cette hypothèse, il peut choisir entre la résolution de la vente ou une
       réduction du prix de vente (dispositions des articles 1644 du Code Civil).
       Article 13 : Réclamations et médiation
       Le cas échéant, l’Acheteur peut présenter toute réclamation en contactant la société au moyen d’un mail via
       formulaire de contact sur http://www.esperluette-deco.fr.
       Conformément aux dispositions des art. L. 611-1 à L. 616-3 du Code de la consommation, le consommateur est
       informé qu'il peut recourir à un médiateur de la consommation dans les conditions prévues par le titre Ier du
       livre VI du code de la consommation.
       En cas d'échec de la demande de réclamation auprès de Esperluette, ou en l'absence de réponse dans un délai de
       deux mois, le consommateur peut soumettre le différent à un médiateur qui tentera en toute indépendance de
       rapprocher les parties en vue d'obtenir une solution amiable.
       Article 14 : résolution du contrat
       La commande peut être résolue par l'acheteur par lettre recommandée à Pascale NALLET 784 rue notre dame des
       champs 01480 JASSANS RIOTTIER avec demande d'avis de réception dans les cas suivants :
       — livraison d'un produit non conforme aux caractéristiques de la commande ;
       — livraison dépassant la date limite fixée lors de la commande ou, à défaut de date, dans les trente jours
       suivant le paiement ;
       — de hausse du prix injustifiée ou de modification du produit.
       Dans ces cas, l'acheteur peut exiger le remboursement de l'acompte versé majoré des intérêts calculés au taux
       légal à partir de la date d'encaissement de l'acompte.
       Article 15 : Droits de propriété intellectuelle
       Sur le site http://www.esperluette-deco.fr, les marques, noms de domaines, produits, logiciels, images, vidéos,
       textes ou plus généralement toute information objet de droits de propriété intellectuelle sont et restent la
       propriété exclusive de Esperluette. Aucune cession de droits de propriété intellectuelle n’est réalisée au
       travers des présentes CGV. Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour
       quelque motif que ce soit est strictement interdite.
       Article 16 : Force majeure
       L’exécution des obligations du vendeur au terme des présentes est suspendue en cas de survenance d’un cas fortuit
       ou de force majeure qui en empêcherait l’exécution. Esperluette avisera par mail le client de la survenance d’un
       tel évènement dès que possible.
       Article 17 : Nullité et modification du contrat
       Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité des
       autres stipulations qui demeureront en vigueur entre les parties. Toute modification contractuelle n’est valable
       qu’après un accord écrit et signé des parties.
       Article 18 : Protection des données personnelles
       Conformément au Règlement 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du
       traitement des données à caractère personnel et à la libre circulation de ces données, Esperluette met en place
       un traitement de données personnelles qui a pour finalité la vente et la livraison de produits et services
       définis au présent contrat. L'Acheteur est informé des éléments suivants : - l'identité et les coordonnées du
       responsable du traitement et, le cas échéant, du représentant du responsable du traitement : Pascale NALLET, tel
       qu'indiqué en haut des présentes CGV ; - les coordonnées du délégué à la protection des données : Pascale NALLET
       - la base juridique du traitement : l'exécution contractuelle - les destinataires ou les catégories de
       destinataires des données à caractère personnel, s'ils existent : le responsable du traitement, ses services en
       charge du marketing, les services en charge de la sécurité informatique, le service en charge de la vente, de la
       livraison et de la commande, les sous-traitant intervenants dans les opérations de livraison et de vente ainsi
       que toute autorité légalement autorisée à accéder aux données personnelles en question - aucun transfert hors UE
       n'est prévu - la durée de conservation des données : le temps de la prescription commerciale - la personne
       concernée dispose du droit de demander au responsable du traitement l'accès aux données à caractère personnel, la
       rectification ou l'effacement de celles-ci, ou une limitation du traitement relatif à la personne concernée, ou
       du droit de s'opposer au traitement et du droit à la portabilité des données - La personne concernée a le droit
       d'introduire une réclamation auprès d'une autorité de contrôle - les informations demandées lors de la commande
       sont nécessaires à l'établissement de la facture (obligation légale) et la livraison des biens commandés, sans
       quoi la commande ne pourra pas être passée. Aucune décision automatisée ou profilage n'est mis en œuvre au
       travers du processus de commande.
       Article 18 : Droit applicable et clauses
       Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations
       d’achat et de vente qui y sont visées, seront soumises au droit français.
       La nullité d'une clause contractuelle n'entraîne pas la nullité des présentes conditions générales de vente.
       Article 19 : Information des consommateurs
       Aux fins d'information des consommateurs, les dispositions du code civil et du code de la consommation sont
       reproduites ci-après :
       Article 1641 du Code civil : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue
       qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne
       l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.
       Article 1648 du Code civil : L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans
       un délai de deux ans à compter de la découverte du vice. Dans le cas prévu par l'article 1642-1, l'action doit
       être introduite, à peine de forclusion, dans l'année qui suit la date à laquelle le vendeur peut être déchargé
       des vices ou des défauts de conformité apparents.
       Article L. 217-4 du Code de la consommation : Le vendeur livre un bien conforme au contrat et répond des défauts
       de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de
       l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le
       contrat ou a été réalisée sous sa responsabilité.
       Article L. 217-5 du Code de la consommation : Le bien est conforme au contrat : 1° S'il est propre à l'usage
       habituellement attendu d'un bien semblable et, le cas échéant : - s'il correspond à la description donnée par le
       vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ; -
       s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites
       par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ; 2° Ou
       s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial
       recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
       Article L. 217-12 du Code de la consommation : L'action résultant du défaut de conformité se prescrit par deux
       ans à compter de la délivrance du bien.
       Article L. 217-16 du Code de la consommation : Lorsque l'acheteur demande au vendeur, pendant le cours de la
       garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une
       remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à
       la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de
       l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est
       postérieure à la demande d'intervention.
       « Nos conditions générales de vente ont été élaborées à partir d'un modèle libre et gratuit qui peut être
       téléchargé sur le site -https://www.donneespersonnelles.fr"





















       POLITIQUE DE CONFIDENTIALITÉ


       DONNÉES PERSONNELLES
       Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée
       conformément au RGPD 2016/679 du 27 avril 2016 (« Règlement Général sur la Protection des Données »).
       La collecte de donnée sur https://www.esperluette-deco.fr est soumise à votre stricte volonté et ne répond qu’au
       besoin que vous en avez. En aucun cas vos données ne seront revendue ou louées. Il s’agit simplement de
       prestation sous contrat et devis garanti de votre confidentialité.

       DÉFINITIONS
       Client : tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou
       personne morale, qui visite le site https://www.esperluette-deco.fr des présentes conditions générales.
       Prestations et Services : https://www.esperluette-deco.fr met à disposition des Clients :
       Contenu : Ensemble des éléments constituants l’information présente sur https://www.esperluette-deco.fr notamment
       textes / images / vidéos.
       Informations clients : Ci-après dénommé « Information (s) » qui correspondent à l’ensemble des données
       personnelles susceptibles d’être détenues par https://www.esperluette-deco.fr pour la gestion de votre compte, de
       la gestion de la relation client et à des fins d’analyses et de statistiques.
       Utilisateur : Internaute se connectant, utilisant le site https://www.esperluette-deco.fr.
       Informations personnelles : « Les informations qui permettent, sous quelque forme que ce soit, directement ou
       non, l’identification des personnes physiques auxquelles elles s’appliquent » (article 4 de la loi n° 78-17 du 6
       janvier 1978).
       Les termes « données à caractère personnel », « personne concernée », « sous-traitant » et « données sensibles »
       ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)
       PRÉSENTATION DU SITE INTERNET.
       En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est
       précisé aux utilisateurs du site internet https://www.esperluette-deco.fr des différents intervenants dans le
       cadre de sa réalisation et de son suivi :
       Propriétaire : Pascale NALLET 784 rue notre dame des champs 01480 JASSANS RIOTTIER
       Responsable publication : Pascale NALLET (personne physique).
       Webmaster : Thibaud NALLET
       Hébergeur : 1&1 YONOS
       Délégué à la protection des données : Pascale NALLET
       Site responsive utilisable sur ordinateur, tablette, téléphone portable.

       CONDITIONS GÉNÉRALES D’UTILISATION DU SITE ET DES SERVICES PROPOSÉS.
       Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et
       des Réglementations Internationales applicables. Le Client ne peut en aucune manière réutiliser, céder ou
       exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.
       L’utilisation du site https://www.esperluette-deco.fr implique l’acceptation pleine et entière des conditions
       générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou
       complétées à tout moment, les utilisateurs du site https://www.esperluette-deco.fr sont donc invités à les
       consulter de manière régulière.
       Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
       maintenance technique peut être toutefois décidée par Pascale NALLET, qui s’efforcera alors de communiquer
       préalablement aux utilisateurs les dates et heures de l’intervention. Le site https://www.esperluette-deco.fr est
       mis à jour régulièrement par Pascale NALLET. De la même façon, les mentions légales peuvent être modifiées à tout
       moment : elles imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en
       prendre connaissance.

       DESCRIPTION DES SERVICES FOURNIS.
       Le site internet https://www.esperluette-deco.fr a pour objet de fournir une information concernant l’ensemble
       des activités de la société Esperluette s’efforce de fournir sur le https://www.esperluette-deco.fr des
       informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des
       inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires
       qui lui fournissent ces informations.
       Toutes les informations indiquées sur le site https://www.esperluette-deco.fr sont données à titre indicatif, et
       sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site
       https://www.esperluette-deco.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été
       apportées depuis leur mise en ligne.
       LIMITATIONS CONTRACTUELLES SUR LES DONNÉES TECHNIQUES.
       Le site utilise la technologie JavaScript. Le site https://www.esperluette-deco.fr ne pourra être tenu
       responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder
       au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération
       mis-à-jour Le https://www.esperluette-deco.fr est hébergé chez un prestataire sur le territoire de l’Union
       Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD : n° 2016-679)
       L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la
       continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité
       d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de
       maintenance, d’amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations
       et Services génèrent un trafic réputé anormal.
       Esperluette et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet,
       des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau
       empêchant l’accès au serveur.
       PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS.
       Esperluette est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les
       éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et
       sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du
       site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de :
       https://www.esperluette-deco.fr.
       Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme
       constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du
       Code de Propriété Intellectuelle.
       LIMITATIONS DE RESPONSABILITÉ.
       Esperluette agit en tant qu’éditeur du site. Esperluette est responsable de la qualité et de la véracité du site
       et ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de
       l’accès au site internet https://www.esperluette-deco.fr, et résultant soit de l’utilisation d’un matériel ne
       répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.
       Esperluette ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de
       marché ou perte d’une chance) consécutifs à l’utilisation du site https://www.esperluette-deco.fr. Des espaces
       interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs.
       Esperluette se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace
       qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la
       protection des données. Le cas échéant Esperluette se réserve également la possibilité de mettre en cause la
       responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux,
       diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
       GESTION DES DONNÉES PERSONNELLES.
       Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la
       confiance dans l’Économie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement
       Général sur la Protection des Données (RGPD : n° 2016-679).
       7.1 RESPONSABLES DE LA COLLECTE DES DONNÉES PERSONNELLES
       Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de
       sa navigation sur le Site, le responsable du traitement des Données Personnelles est : Esperluette représentée
       par Pascale NALLET, son représentant légal.
       En tant que responsable du traitement des données qu’il collecte, Esperluette s’engage à respecter le cadre des
       dispositions légales en vigueur. Il lui appartient notamment au Client d’établir les finalités de ses traitements
       de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une
       information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements
       conforme à la réalité. Chaque fois que Esperluette traite des Données Personnelles, Esperluette prend toutes les
       mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des
       finalités pour lesquelles Esperluette les traite.
       7.2 FINALITÉ DES DONNÉES COLLECTÉES
       Esperluette est susceptible de traiter tout ou partie des données :
       pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés
       par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.
       pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour
       la navigation, l’adresse IP, le mot de passe (hashé)
       pour améliorer la navigation sur le Site : données de connexion et d’utilisation
       pour mener des enquêtes de satisfaction facultatives sur https://www.esperluette-deco.fr: adresse email
       pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email
       Esperluette ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à
       des fins statistiques et d’analyses.
       7.3 DROIT D’ACCÈS, DE RECTIFICATION ET D’OPPOSITION
       Conformément à la réglementation européenne en vigueur, les Utilisateurs https://www.esperluette-deco.fr
       disposent des droits suivants :
       droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données
       des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel
       (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte,
       l’utilisation, la communication ou la conservation est interdite
       droit de retirer à tout moment un consentement (article 13-2c RGPD)
       droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
       droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
       droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de
       traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
       droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui Esperluette devra
       communiquer (ou non) ses données à un tiers qu’il aura préalablement désigné
       Dès que Esperluette a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, Esperluette
       s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour
       répondre à une obligation légale.
       Si l’Utilisateur souhaite savoir comment Esperluette utilise ses Données Personnelles, demande à les rectifier ou
       s’oppose à leur traitement, l’Utilisateur peut contacter https://www.esperluette-deco.fr par écrit à l’adresse
       suivante :
       Pascale NALLET 784 rue notre dame des champs 01480 JASSANS-RIOTTIER.
       Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que Esperluette corrige,
       mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou
       passeport).
       Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à
       Esperluette par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les
       Utilisateurs https://www.esperluette-deco.fr peuvent déposer une réclamation auprès des autorités de contrôle, et
       notamment de la CNIL (https://www.cnil.fr/fr/plaintes).
       7.4 NON-COMMUNICATION DES DONNÉES PERSONNELLES
       Esperluette s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un
       pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en
       informer préalablement le client. Pour autant, Esperluette reste libre du choix de ses sous-traitants techniques
       et commerciaux à la condition qu’il présente les garanties suffisantes au regard des exigences du Règlement
       Général sur la Protection des Données (RGPD : n° 2016-679).
       Esperluette s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations
       et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident
       impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de
       Esperluette, celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de
       corrections prises. Par ailleurs https://www.esperluette-deco.fr ne collecte aucune « données sensibles ».
       Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de Esperluette et des
       sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
       Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales
       personnes susceptibles d’avoir accès aux données des Utilisateurs de https://www.esperluette-deco.fr sont
       principalement les agents de notre service client.
       7.5 TYPES DE DONNÉES COLLECTÉES
       Concernant les utilisateurs du Site https://www.esperluette-deco.fr nous collectons les données suivantes qui
       sont indispensables au fonctionnement du service, et qui seront conservées pendant une période maximale de 24
       mois après la fin de la relation contractuelle:
       nom, prénom, code postal, mobile, email
       Esperluette collecte en outre des informations qui permettent d’améliorer l’expérience utilisateur et de proposer
       des conseils contextualisés :
       Google Analytics (ces données sont conservées pour une période maximale de 24 mois après la fin de la relation
       contractuelle).

       NOTIFICATION D’INCIDENT
       Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage
       électronique n’est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue. Si nous
       prenions connaissance d’une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu’ils
       puissent prendre les mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos
       obligations légales, qu’elles se situent au niveau national ou européen. Nous nous engageons à informer
       pleinement nos clients de toutes les questions relevant de la sécurité de leur compte et à leur fournir toutes
       les informations nécessaires pour les aider à respecter leurs propres obligations réglementaires en matière de
       reporting.
       Aucune information personnelle de l’utilisateur du site https://www.esperluette-deco.fr publiée à l’insu de
       l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du
       rachat d’Esperluette et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur
       qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de
       l’utilisateur du site https://www.esperluette-deco.fr
       SÉCURITÉ
       Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données Personnelles de Santé,
       https://www.esperluette-deco.fr utilise des réseaux protégés par des dispositifs standards tels que par pare-feu,
       la pseudonymisation, l’encryption et mot de passe.
       Lors du traitement des Données Personnelles https://www.esperluette-deco.fr prend toutes les mesures raisonnables
       visant à les protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou
       destruction.

       LIENS HYPERTEXTES « COOKIES » ET BALISES (“TAGS”) INTERNET
       Le site https://www.esperluette-deco.fr contient un certain nombre de liens hypertextes vers d’autres sites, mis
       en place avec l’autorisation de Esperluette Cependant, Esperluette n’a pas la possibilité de vérifier le contenu
       des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
       Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez à tout
       moment désactiver ces cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont
       offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher l’accessibilité à tout ou partie des
       Services proposés par le site.
       9.1. « COOKIES »
       Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur et enregistré au sein
       du terminal de l’Utilisateur (ex : ordinateur, smartphone), (ci-après « Cookies »). Ce fichier comprend des
       informations telles que le nom de domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, le
       système d’exploitation de l’Utilisateur, ainsi que la date et l’heure d’accès. Les Cookies ne risquent en aucun
       cas d’endommager le terminal de l’Utilisateur.
       Esperluette est susceptible de traiter les informations de l’Utilisateur concernant sa visite du Site, telles que
       les pages consultées, les recherches effectuées. Ces informations permettent à https://www.esperluette-deco.fr
       d’améliorer le contenu du Site, de la navigation de l’Utilisateur.
       Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site, l’Utilisateur peut
       configurer son navigateur pour qu’il lui permette de décider s’il souhaite ou non les accepter de manière à ce
       que des Cookies soient enregistrés dans le terminal ou, au contraire, qu’ils soient rejetés, soit
       systématiquement, soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de
       manière à ce que l’acceptation ou le refus des Cookies lui soient proposés ponctuellement, avant qu’un Cookie
       soit susceptible d’être enregistré dans son terminal. Esperluette informe l’Utilisateur que, dans ce cas, il se
       peut que les fonctionnalités de son logiciel de navigation ne soient pas toutes disponibles.
       Si l’Utilisateur refuse l’enregistrement de Cookies dans son terminal ou son navigateur, ou si l’Utilisateur
       supprime ceux qui y sont enregistrés, l’Utilisateur est informé que sa n Esperluette ou l’un de ses prestataires
       ne peut pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal,
       les paramètres de langue et d’affichage ou le pays depuis lequel le terminal semble connecté à Internet.
       Le cas échéant, Esperluette décline toute responsabilité pour les conséquences liées au fonctionnement dégradé du
       Site et des services éventuellement proposés par https://www.esperluette-deco.fr résultant (i) du refus de
       Cookies par l’Utilisateur (ii) de l’impossibilité pour https://www.esperluette-deco.fr d’enregistrer ou de
       consulter les Cookies nécessaires à leur fonctionnement du fait du choix de l’Utilisateur. Pour la gestion des
       Cookies et des choix de l’Utilisateur, la configuration de chaque navigateur est différente. Elle est décrite
       dans le menu d’aide du navigateur, qui permettra de savoir de quelle manière l’Utilisateur peut modifier ses
       souhaits en matière de Cookies.
       À tout moment, l’Utilisateur peut faire le choix d’exprimer et de modifier ses souhaits en matière de Cookies.
       Esperluette pourra en outre faire appel aux services de prestataires externes pour l’aider à recueillir et
       traiter les informations décrites dans cette section.
       Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Instagram, Facebook, Pinterest, LinkedIn et Google
       Plus figurant sur le Site https://www.esperluette-deco.fr ou dans son application mobile et si l’Utilisateur a
       accepté le dépôt de cookies en poursuivant sa navigation sur le Site Internet ou l’application mobile de
       https://www.esperluette-deco.fr Instagram, Facebook, Pinterest, LinkedIn et Google Plus peuvent également déposer
       des cookies sur vos terminaux (ordinateur, tablette, téléphone portable).
       Ces types de cookies ne sont déposés sur vos terminaux qu’à condition que vous y consentiez, en continuant votre
       navigation sur le Site Internet ou l’application mobile de https://www.esperluette-deco.fr À tout moment,
       l’Utilisateur peut néanmoins revenir sur son consentement à ce que https://www.esperluette-deco.fr dépose ce type
       de cookies.
       9.2. BALISES (“TAGS”) INTERNET
       https://www.esperluette-deco.fr peut employer occasionnellement des balises Internet (également appelées « tags
       », ou balises d’action, GIF à un pixel, GIF transparents, GIF invisibles et GIF un à un) et les déployer par
       l’intermédiaire d’un partenaire spécialiste d’analyses Web susceptible de se trouver (et donc de stocker les
       informations correspondantes, y compris l’adresse IP de l’Utilisateur) dans un pays étranger.
       Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes d’accéder au Site, et
       sur les différentes pages de celui-ci.
       Cette technologie permet à https://www.esperluette-deco.fr fr d’évaluer les réponses des visiteurs face au Site
       et l’efficacité de ses actions (par exemple, le nombre de fois où une page est ouverte et les informations
       consultées), ainsi que l’utilisation de ce Site par l’Utilisateur.
       Le prestataire externe pourra éventuellement recueillir des informations sur les visiteurs du Site et d’autres
       sites Internet grâce à ces balises, constituer des rapports sur l’activité du Site à l’attention de
       https://www.esperluette-deco.fr et fournir d’autres services relatifs à l’utilisation de celui-ci et d’Internet.

       DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION.
       Tout litige en relation avec l’utilisation du site https://www.esperluette-deco.fr est soumis au droit français.
       En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux
       compétents de Lyon.
 
    
    </p>
</div>

{% endblock %}