{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/home.css') }}" type="text/css">
{% endblock %}

{% block title %} Home {% endblock %}

{% block body %}

{% include "includes/header.html.twig" %}

<div class="container_caroussel">
    <div class="row">
        <div class="carousel">
            <div class="carousel-item">
                <img src="images/2.jpg" alt="image">
            </div>
            <div class="carousel-item">
                <img src="images/3.jpg" alt="image">
            </div>
            <div class="carousel-item">
                <img src="images/4.jpg" alt="image">
            </div>
            <div class="carousel-item">
                <img src="images/5.jpg" alt="image">
            </div>
            <div class="carousel-item">
                <img src="images/6.jpg" alt="image">
            </div>
            <div class="carousel-item">
                <img src="images/7.jpg" alt="image">
            </div>
        </div>
        <div class="container divider"> </div>
    </div>
</div>

<div class="container presentation">
    <div class="row">
        <div class="col s12 m6">
            <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="bebe" src="images/bebe.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="col s10 offset-s1 m6">
                <div class="card hoverable">
                    <div class="card-image three valign-wrapper">
                        <div class="para"> Depuis toute petite je bidouille des machins choses pour en faire des
                            bidules trucs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h3 class="center-align">
                Comment est née Esperluette ?
            </h3>
        </div>
        <div class=" col s12 m6 bordure">
            <p>
                « ESPERLUETTE, ce mot vous est peut- être inconnu, mais je suis certaine que
                vous en connaissez
                le graphisme : c’est cette "&" si difficile à tracer sans se concentrer ! alors pourquoi ce nom...
                <br>
                Tout d’abord parce qu’elle & moi on se ressemble physiquement : toutes en courbes et en rondeurs. Et
                qu’elle me rappelle
                le signe infini "∞" évoquant que rien n’a une fin et que tout est multiple : elle est le signe de mes
                nombreuses facettes
                parce que je sais faire du décoratif & du pratique & du ludique & du décalé... Que j’aime chiner &
                bricoler & inventer &
                recycler & reproduire & imaginer...
            </p>
        </div>
        <div class=" col s12 m6">
            <p>
                Que je me sens d’ici & d’ailleurs, de maintenant & d’autrefois. <br>
                Que je suis dynamique & manuelle & atypique & curieuse, bref plurielle donc mes créations le sont
                aussi. <br>
                Je ne fabrique que des pièces uniques & différentes à chaque fois car elles sont l’expression d’un
                instant, d’un
                sentiment ou d’une idée, tous plus fugaces les uns que les autres. <br>
                J’aime les brocantes, la calligraphie, le design, le style industriel, les cabinets de curiosités,
                la nature et des
                milliards de choses. Je me sens écoresponsable sur ma planète et surtout redevable envers la nature que j'adore. »
            </p>
        </div>
        <div class="col s12">
            <h6 class="center-align"> Bienvenue dans le petit monde d’ESPERLUETTE réanimation d’objets désuets.
            </h6>
        </div>
    </div>
</div>



{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/home.js') }}"></script>
{% endblock %}